<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="User" class="com.shamengxin.spring6.beans.User"/>

    <bean id="UserFactory" class="com.shamengxin.spring6.beans.UserFactory" factory-method="get"/>

    <bean id="VipFactory" class="com.shamengxin.spring6.beans.VipFactory"/>
    <bean id="Vip" factory-bean="VipFactory" factory-method="get"/>

</beans>