<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">
    <!--声明springmvc的核心对象

        访问mymvc地址后，报错 文件没有找到。找的文件 /WEB-INF/springmvc-servlet.xml

        错误原因：
            在Servlet的init()方法中，创建springmvc使用的容器对象WebApplicationContext。
            WebApplicationContext ctx = new ClassPathXmlApplicationContext(配置文件)
            配置文件的默认路径： /WEB-INF/ <servlet-name>-servlet.xml
    -->
    <servlet>
        <servlet-name>myweb</servlet-name>
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
        <init-param>
            <param-name>contextConfigLocation</param-name>
            <param-value>classpath:springmvc.xml</param-value>
        </init-param>
        <!--
            表示服务器tomcat创建对象的顺序，是个整数值，大于等于0。
            数值越小，创建对象的时间越早。
        -->
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>myweb</servlet-name>
        <!--
            url-pattern 作用：把一些请求交给指定的servlet处理
            使用中央调度器（DispatcherServlet）
            1.使用扩展名方式，格式*.xxx,xxx是自定义的扩展名。例如*.do,*.action,*.mvc 等等
                http://localhost:8080/myweb/some.do

            2.使用斜杠"/"
            注意：不能使用*.jsp
        -->
        <url-pattern>*.do</url-pattern>
    </servlet-mapping>

    <!--声明过滤器，框架提供的，解决post请求中文乱码的问题-->
    <filter>
        <filter-name>characterEncodingFilter</filter-name>
        <filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
        <!--给过滤器的属性赋值-->
        <init-param>
            <!--项目使用的字符编码-->
            <param-name>encoding</param-name>
            <param-value>utf-8</param-value>
        </init-param>
        <init-param>
            <!--强制请求（request）对象使用encoding的编码方式-->
            <param-name>forceRequestEncoding</param-name>
            <param-value>true</param-value>
        </init-param>
        <init-param>
            <!--强制应答（response）对象使用encoding的编码方式-->
            <param-name>forceResponseEncoding</param-name>
            <param-value>true</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>characterEncodingFilter</filter-name>
        <!--强制所有请求，先经过过滤器的处理-->
        <url-pattern>/*</url-pattern>
    </filter-mapping>
</web-app>