<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="UserDaoBean" class="com.shamengxin.spring6.dao.UserDao"/>
    <bean id="UserServiceBean" class="com.shamengxin.spring6.service.UserService">
        <property name="userDao">
            <bean class="com.shamengxin.spring6.dao.UserDao"/>
        </property>
    </bean>

</beans>