<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="DataFactory" class="com.shamengxin.spring6.beans.DataFactory">
        <property name="date" value="2022-11-11"/>
    </bean>

    <bean id="Student" class="com.shamengxin.spring6.beans.Student">
        <property name="birth" ref="DataFactory"/>
    </bean>
</beans>