<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="springBean1" class="com.shamengxin.spring6.beans.SpringBean"/>
    <bean id="springBean2" class="com.shamengxin.spring6.beans.SpringBean" scope="singleton"/>
    <bean id="springBean3" class="com.shamengxin.spring6.beans.SpringBean" scope="prototype"/>

    <!--定义一个线程级别的scope-->
    <bean class="org.springframework.beans.factory.config.CustomScopeConfigurer">
        <property name="scopes">
            <map>
                <entry key="myThread">
                    <bean class="org.springframework.context.support.SimpleThreadScope"/>
                </entry>
            </map>
        </property>
    </bean>

    <bean id="springBean4" class="com.shamengxin.spring6.beans.SpringBean" scope="myThread"/>

</beans>